//! **************************************************************************
// Written by: Map M.81d on Thu Oct 11 00:44:12 2012
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

